<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header " id="cabeceraTarjeta">
                        <div class="ct-chart">
                            <img class="logo" src="/assets/img/csv.png" />
                        </div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Generación CSV</h4>
                    </div>
                    <div class="card-footer">

                        <div class="col text-center">

                            <button class="botones_crear" id="btn-txt" mat-raised-button
                                [matMenuTriggerFor]="menuexportacionCSV">
                                Exportación CSV
                                <span class="material-icons">
                                    expand_more
                                </span>
                            </button>
                            <mat-menu #menuexportacionCSV="matMenu">
                                <button mat-menu-item color="primary"
                                    (click)="generaCsvArticulos('Artículos')">Articulos CSV </button>
                                <button mat-menu-item color="primary" (click)="generaCsvLibros('Libros')">Libros CSV
                                </button>
                                <button mat-menu-item color="primary"
                                    (click)="generaCsvProyectos('Proyectos')">Proyectos CSV </button>
                                <button mat-menu-item color="primary"
                                    (click)="generaCsvCapacitacion('Capacitacion')">Capacitación CSV </button>
                                <button mat-menu-item color="primary"
                                    (click)="generaCsvGradoAcademico('Grado Academico')">Grado Academico CSV </button>

                            </mat-menu>
                        </div>
                    </div>
                    <div *ngIf="valor && tipoDocumento == 'CSV'">
                        Generando {{tipoDocumento}} {{valorNombre}}
                        <mat-progress-bar mode="query">

                        </mat-progress-bar>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header " id="cabeceraTarjeta">
                        <div class="ct-chart">
                            <img class="logo" src="/assets/img/txt.png" />
                        </div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Generación TXT</h4>
                    </div>
                    <div class="card-footer">
                        <div class="col text-center">

                            <button class="botones_crear" id="btn-txt" mat-raised-button
                                [matMenuTriggerFor]="menuexportacionTXT">
                                Exportación TXT
                                <span class="material-icons">
                                    expand_more
                                </span>
                            </button>
                            <mat-menu #menuexportacionTXT="matMenu">
                                <button mat-menu-item color="primary"
                                    (click)="generaTxtArticulos('Artículos')">Articulos TXT </button>
                                <button mat-menu-item color="primary" (click)="generaTxtLibros('Libros')">Libros TXT
                                </button>
                                <button mat-menu-item color="primary"
                                    (click)="generaTxtProyectos('Proyectos')">Proyectos TXT </button>
                                <button mat-menu-item color="primary"
                                    (click)="generaTxtCapacitacion('Capacitación')">Capacitación TXT </button>
                                <button mat-menu-item color="primary"
                                    (click)="generaTxtGradoAcademico('Grado Academico')">Grado Academico TXT </button>

                            </mat-menu>

                        </div>
                    </div>
                    <div *ngIf="valor && tipoDocumento == 'TXT'">
                        Generando {{tipoDocumento}} {{valorNombre}}
                        <mat-progress-bar mode="query">

                        </mat-progress-bar>
                    </div>
                </div>

            </div>

            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header " id="cabeceraTarjeta">
                        <div class="ct-chart">
                            <img class="logo" src="/assets/img/bibtex.png" />
                        </div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Generación BibTex</h4>
                    </div>
                    <div class="card-footer">
                        <div class="col text-center">

                            <button class="botones_crear" id="btn-txt" mat-raised-button
                                [matMenuTriggerFor]="menuexportacionBib">Exportación BibTex
                                <span class="material-icons">
                                    expand_more
                                </span>
                            </button>
                            <mat-menu #menuexportacionBib="matMenu">
                                <button mat-menu-item color="primary"
                                    (click)="generaBibArticulos('Articulos')">Articulos BibTex </button>
                                <button mat-menu-item color="primary" (click)="generaBibLibros('Libros')">Libros BibTex
                                </button>
                                <button mat-menu-item color="primary"
                                    (click)="generaBibProyectos('Proyectos')">Proyectos BibTex </button>
                                <button mat-menu-item color="primary"
                                    (click)="generaBibCapacitacion('Capacitacion')">Capacitación BibTex </button>
                                <button mat-menu-item color="primary"
                                    (click)="generaBibGradoAcademico('Grado Academico')">Grado Academico BibTex
                                </button>
                            </mat-menu>

                        </div>

                    </div>
                    <div *ngIf="valor && tipoDocumento == 'BibTex'">
                        Generando {{tipoDocumento}} {{valorNombre}}
                        <mat-progress-bar mode="query">

                        </mat-progress-bar>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>