<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header " id="cabeceraTarjeta">
                        <div class="ct-chart">
                            <img class="logo" src="/assets/img/csv.png" />
                        </div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Generación CSV</h4>
                    </div>
                    <div class="card-footer">
                        <div class="col text-center">
                            <button class="botones_crear" id="btn-txt" mat-raised-button
                                [matMenuTriggerFor]="menuexportacionCSV">
                                Exportación CSV
                                <span class="material-icons">
                                    expand_more
                                </span>
                            </button>
                        </div>
                        <mat-menu #menuexportacionCSV="matMenu">
                            <button mat-menu-item color="primary" *ngFor="let item of bloquesServicio"
                                (click)="generaCsvInformacion(item.bloqueNombre, item.url)">
                                {{item.bloqueNombre}} CSV
                            </button>
                        </mat-menu>
                    </div>
                    <div *ngIf="valor && tipoDocumento == 'CSV'">
                        Generando {{tipoDocumento}} {{valorNombre}}
                        <mat-progress-bar mode="query">

                        </mat-progress-bar>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header " id="cabeceraTarjeta">
                        <div class="ct-chart">
                            <img class="logo" src="/assets/img/txt.png" />
                        </div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Generación TXT</h4>
                    </div>
                    <div class="card-footer">
                        <div class="col text-center">
                            <button class="botones_crear" id="btn-txt" mat-raised-button
                                [matMenuTriggerFor]="menuexportacionTXT">
                                Exportación TXT
                                <span class="material-icons">
                                    expand_more
                                </span>
                            </button>
                        </div>
                        <mat-menu #menuexportacionTXT="matMenu">
                            <button mat-menu-item color="primary" *ngFor="let item of bloquesServicio"
                                (click)="generaTxtInformacion(item.bloqueNombre, item.url)">
                                {{item.bloqueNombre}} TXT
                            </button>
                        </mat-menu>
                    </div>
                    <div *ngIf="valor && tipoDocumento == 'TXT'">
                        Generando {{tipoDocumento}} {{valorNombre}}
                        <mat-progress-bar mode="query">

                        </mat-progress-bar>
                    </div>
                </div>

            </div>

            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header " id="cabeceraTarjeta">
                        <div class="ct-chart">
                            <img class="logoBibTex" src="/assets/img/bibtex.png" />
                        </div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Generación BibTex</h4>
                    </div>
                    <div class="card-footer">
                        <div class="col text-center">

                            <button class="botones_crear" id="btn-txt" mat-raised-button
                                [matMenuTriggerFor]="menuexportacionBib">Exportación BibTex
                                <span class="material-icons">
                                    expand_more
                                </span>
                            </button>
                        </div>
                        <mat-menu #menuexportacionBib="matMenu">
                            <button mat-menu-item color="primary" *ngFor="let item of bloquesServicio"
                                (click)="generaBibInformacion(item.bloqueNombre, item.url)">{{item.bloqueNombre}}
                                BibTex
                            </button>
                        </mat-menu>

                    </div>
                    <div *ngIf="valor && tipoDocumento == 'BibTex'">
                        Generando {{tipoDocumento}} {{valorNombre}}
                        <mat-progress-bar mode="query">

                        </mat-progress-bar>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>