<div class="main-content">
    <div class="col text-center">
        <button mat-raised-button class="btnRegresar" color="primary" routerLink="/cv-resumido"
            (click)="alertaGuardarCambios()" routerLinkActive="active">
            <span class="material-icons">
                west
            </span>
            Configuración Bloques Resumidos
        </button>
    </div>
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <mat-card class="tarjeta">
                    <mat-card-header>
                        <h3>
                            <b>Configuración de Atributos: </b>{{nombreBloque}}
                        </h3>
                    </mat-card-header>

                    <br>
                    <div class="example-header">
                        <b>Buscador:</b>
                        <mat-form-field>
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Ej. titulo" #filter>
                            <button mat-icon-button matSuffix aria-label="clear" *ngIf="filter.value"
                                (click)="filter.value=''; applyFilter('');">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>


                    <mat-card class="tarjeta_filtros">

                        Filtrar por Visibilidad:
                        <button class="btnPersonalizado" mat-stroked-button [matMenuTriggerFor]="menuPersonalizado">
                            Filtro Atributos
                            <span class="material-icons">
                                expand_more
                            </span>
                        </button>

                        <div class="visible" *ngIf="visibilidad">
                            <h6 id="visibilidad">Visibilizando {{textoVisibilidad}} </h6>
                        </div>

                        <mat-menu #menuPersonalizado="matMenu">
                            <button mat-menu-item (click)="getConfiguracion()">Todo</button>
                            <button mat-menu-item (click)="FiltroVisibles()">Visibles</button>
                            <button mat-menu-item (click)="FiltroNoVisibles()">No Visibles</button>
                        </mat-menu>
                    </mat-card>

                    <mat-table id="tabla" #table [dataSource]="dataSource">

                        <!-- Visibilidad  Resumido -->
                        <ng-container matColumnDef="visible_cv_resumido">
                            <mat-header-cell *matHeaderCellDef>

                                <input type="checkbox" [(ngModel)]="parentSelector" [value]="-1"
                                    (change)="onChangeAtributo($event)">

                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <input type="checkbox" [value]="row.id" [checked]="row.visible_cv_resumido"
                                    (change)="onChangeAtributo($event)" (click)=valor(row.id)>
                            </mat-cell>
                        </ng-container>


                        <!-- Aributo Column -->
                        <ng-container matColumnDef="atributo">
                            <mat-header-cell class="tituloTabla" *matHeaderCellDef>
                                <h4><b>Atributo</b></h4>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.atributo}}

                            </mat-cell>
                        </ng-container>

                        <!-- OrdenResumido Column -->
                        <ng-container matColumnDef="ordenResumido">
                            <mat-header-cell class="tituloTabla" *matHeaderCellDef>
                                <h4><b>Orden</b></h4>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <mat-form-field floatLabel="never">
                                    <input matInput placeholder="OrdenResumido" type="number" min="1" max="9999"
                                        pattern="^[0-9]+" [value]="element.ordenResumido"
                                        [(ngModel)]="element.ordenResumido">
                                    <input type="hidden" [value]="element.administrador">
                                </mat-form-field>
                            </mat-cell>
                        </ng-container>

                        <!-- Mapeo Column -->
                        <ng-container matColumnDef="mapeo">
                            <mat-header-cell class="tituloTabla" *matHeaderCellDef>
                                <h4><b>Mapeo</b></h4>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <mat-form-field floatLabel="never">
                                    <input matInput placeholder="Mapeo" type="text" [value]="element.mapeo"
                                        [(ngModel)]="element.mapeo">
                                </mat-form-field>
                            </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                    <mat-paginator id="paginator" [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>

                    <div class="col text-center">
                        <button mat-raised-button color="primary" class="btnGuardar" (click)="guardar()">
                            <span class="material-icons">
                                save
                            </span>
                            Guardar
                        </button>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>