/* .main-content {
    width: 100%;
    height: fit-content;
}

.container {
    margin-top: 30px;
    margin-bottom: 30px;
}

.example-card {
    max-width: 100%;
    margin: auto;
}

#tabla {
    margin-left: 40px;
    color: #003F72;
}

.tarjeta {
    background-color: #E0DED8;
    color: #003F72;
}


.visualizacion{
    color: #003F72;
}
.botones{
    background-color: #003F72;
    color: white;
}
 */

/* #formulario {
    min-width: 150px;
    max-width: 550px;
} */





.main-content {
    width: 100%;
    height: fit-content;
}

.container {
    margin-top: 30px;
    margin-bottom: 30px;
    /* margin: auto; */
}

.example-card {
    max-width: 100%;
    /* margin-top: 25px; */
    margin: auto;
}

/* #tabla {
    margin-left: 40px;
    color: #003F72;
} */

#tabla {
    /* margin: 20px; */
    /* margin-top: 20px; */
    margin-left: 20px;
    margin-right: 20px;
    color: #003F72;
    background-color: #AAA4A4;
}

.tituloTabla{
    color: #003F72;
}

/* #tabla {
    color: #003F72;
    background-color: #EAAB00;
} */

#paginator{
    /* margin: 20px; */
    margin-left: 20px;
    margin-right: 20px;
    color: #E0DED8;
    background-color: #A71930;
}

/* .tarjeta {
    background-color: #E0DED8;
    color: #003F72;
} */
.tarjeta {
    background-color: #E0DED8;
    color: #003F72;
}

.tarjeta_filtros{
    background-color: #003F72;
    color: #cec7b1;
    margin-left: 20px;
    margin-right: 20px;
}


.btnPersonalizado{
    background-color: #E0DED8;
    color: black;
    margin-left: 20px;
}

.botones{
    /* margin-top: 20px; */
    background-color: #003F72;
    color: white;
}


.btnGuardar{
    margin-top: 20px;
    background-color: #003F72;
    color: white;
}





/* #formulario {
    min-width: 150px;
    max-width: 550px;
} */