<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="container" id="formulario">
                    <div class="col text-center">
                        <button mat-raised-button class="botones" color="primary" routerLink="/cv-resumido" routerLinkActive="active">Regresar a Bloques</button>
                    </div>
                </div>

                <mat-card>
                    <mat-card-header>
                        <b>Configuración de Bloque {{nombreBloque}} </b>
                    </mat-card-header>
                    <table class="table" id="tabla">
                        <thead>
                            <tr class="d-flex">
                                <!-- <th class="col-2">Bloque</th> -->
                                <th class="col-3">Atributo</th>
                                <th class="col-2">Orden</th>
                                <th class="col-3">Mapeo</th>
                                <th class="col-2">Resumido</th>
                                <!-- <th class="col-2">Resumido</th> -->
                                <!-- <th class="col-2">Editar</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="d-flex" *ngFor="let bloque of arregloBloques">
                                <!-- <td>{{configuracion.id}}</td> -->
                                <input type="hidden" [value]="bloque.administrador">
                                <!-- <td class="col-sm-2">{{bloque.bloque}}</td> -->
                                <td class="col-sm-3">{{bloque.atributo}}</td>
                                <td class="col-sm-2">
                                    <div>
                                        <mat-form-field>
                                            <mat-label>Orden</mat-label>
                                            <input matInput type="number" placeholder="Name" [value]="bloque.orden" [(ngModel)]="bloque.orden">
                                            <!-- <input matInput name="orden" [(ngModel)]="configuracioncvService.selectedConfiguracion.orden"> -->
                                        </mat-form-field>
                                    </div>
                                </td>
                                <!-- {{configuracion.orden}}</td> -->
                                <td class="col-sm-3">
                                    <mat-form-field>
                                        <mat-label>Mapeo</mat-label>
                                        <input matInput placeholder="Name" [value]="bloque.mapeo" [(ngModel)]="bloque.mapeo">
                                        <!-- <input matInput name="orden" [(ngModel)]="configuracioncvService.selectedConfiguracion.orden"> -->
                                    </mat-form-field>
                                </td>
                                <td class="col-sm-2">
                                    <mat-form-field>
                                        <mat-select [(ngModel)]="bloque.visible_cv_resumido">
                                            <mat-option [value]="true">Visible</mat-option>
                                            <mat-option [value]="false">No Visible</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col text-center">
                        <button mat-raised-button color="primary" class="botones" (click)="guardar()">Guardar</button>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>