.main-content {
    width: 100%;
    height: fit-content;
}

.container {
    margin-top: 30px;
    margin-bottom: 30px;
}

.example-card {
    max-width: 100%;
    margin: auto;
}


#tabla {
    margin-left: 20px;
    margin-right: 20px;
    color: #003F72;
}

.tituloTabla{
    color: #003F72;
}


#paginator{
    margin-left: 20px;
    margin-right: 20px;
    color: #003F72;
    background-color: #AAA4A4;;
}

.tarjeta {
    background-color: #E0DED8;
    color: #003F72;
}

.tarjeta_filtros{
    background-color: #003F72;
    color: #cec7b1;
    margin-left: 20px;
    margin-right: 20px;
}


.btnPersonalizado{
    background-color: #E0DED8;
    color: black;
    margin-left: 20px;
}

.visible{
    margin-bottom: 8px;
}

#visibilidad{
    float: left;
    margin: auto;
}

.btnRegresar{
    margin-top: -50px;
    margin-bottom: 30px;
    background-color: #003F72;
    color: white;
}

.botones{
    background-color: #003F72;
    color: white;
}


.btnGuardar{
    margin-top: 20px;
    background-color: #003F72;
    color: white;
}
