<div class="logo">
    <a href="https://www.utpl.edu.ec" class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/utpl.png" />
        </div><br> SIAC UTPL
    </a>
</div>
<div class="sidebar-wrapper">
    <div *ngIf="isMobileMenu()">

        <ul class="nav navbar-nav nav-mobile-menu">

            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">
                    <i class="material-icons">person</i>
                    <p>
                        <span class="d-lg-none d-md-block">Account</span>
                    </p>
                </a>
            </li>
        </ul>
    </div> 
    <ul class="nav">
        <li class=" nav-item">
            <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
                <i class="material-icons">dashboard</i>
                <p>Dashboard</p>
            </a>
        </li>
        <!-- <li class=" nav-item">
            <a class="nav-link" routerLink="/user-profile" routerLinkActive="active">
                <i class="material-icons">person</i>
                <p>User Profile</p>
            </a>
        </li> -->
        <li class=" nav-item"  *ngIf="seMuestra">
            <a class="nav-link" routerLink="/cv-completo" routerLinkActive="active">
                <i class="material-icons">account_box</i>
                <p>CV Completo</p>
            </a>
        </li> 
       
        <li class=" nav-item"   *ngIf="seMuestra">
            <a class="nav-link" routerLink="/cv-resumido" routerLinkActive="active">
                <i class="material-icons">contact_page</i>
                <p>CV Resumido</p>
            </a>
        </li>
        <li class=" nav-item">
            <a class="nav-link"  *ngIf="!seMuestra" [routerLink]="['/cv-guardado', id_docente]" routerLinkActive="active">
                <i class="material-icons">manage_accounts</i>
                <p>CV Personalizable</p>
            </a>
        </li>
        <!-- <li routerLinkActive="active"  *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p> {{menuItem.title}}</p>
            </a>
        </li> -->
    </ul>
</div>