
<div class="logo">
    <a href="https://www.utpl.edu.ec" class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/utpl.png" />
        </div><br> 

       
            <h4 style="color:#003F72;">
                
                <b>SIAC UTPL</b>
            </h4>
       
        
    </a>
</div>
<div class="sidebar-wrapper">
    <!-- <div *ngIf="isMobileMenu()">
        <ul class="nav">
            <li class=" nav-item">
                <a class="nav-link"  *ngIf="!seMuestra" [routerLink]="['/descarga-informacion/', idUser]" routerLinkActive="active">
                    <i id="icono" class="material-icons">file_download</i>
                    <p style="color:#003F72;">Cerras session</p>
                </a>
            </li>
        </ul>
    </div>  -->
    <ul class="nav">

        <li class=" nav-item" *ngIf="seMuestra">
            <a class="nav-link" routerLink="/administrador" routerLinkActive="active">
                <i id="icono" class="material-icons">dashboard</i>
                <p style="color:#003F72;">Dashboard</p>
            </a>
        </li>


        <li class=" nav-item" *ngIf="seMuestra">
            <a class="nav-link" routerLink="/ingresar-servicio" routerLinkActive="active">
                <i id="icono" class="material-icons">settings</i>
                <p style="color:#003F72;">Administrar Servicios</p>
            </a>
        </li>

        <li class=" nav-item"  *ngIf="seMuestra">
            <a class="nav-link" routerLink="/cv-completo" routerLinkActive="active">
                <i id="icono" class="material-icons">account_box</i>
                <p style="color:#003F72;"> CV Completo</p>
            </a>
        </li> 
       
        <li class=" nav-item"   *ngIf="seMuestra">
            <a class="nav-link" routerLink="/cv-resumido" routerLinkActive="active">
                <i id="icono" class="material-icons">contact_page</i>
                <p style="color:#003F72;">CV Resumido</p>
            </a>
        </li>
        
        <li class=" nav-item" *ngIf="!seMuestra" >
            <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
                <i id="icono" class="material-icons">dashboard</i>
                <p style="color:#003F72;">Dashboard</p>
            </a>
        </li>

        
        <li class=" nav-item">
            <a class="nav-link"  *ngIf="!seMuestra" [routerLink]="['/cv-guardado', idUser]" routerLinkActive="active">
                <i id="icono" class="material-icons">manage_accounts</i>
                <p style="color:#003F72;">CV Personalizable</p>
            </a>
        </li>


        <li class=" nav-item">
            <a class="nav-link"  *ngIf="!seMuestra" [routerLink]="['/crea-formatos', idUser]" routerLinkActive="active">
                <i id="icono" class="material-icons">sim_card_download</i>
                <p style="color:#003F72;">Descargar Cv</p>
            </a>
        </li>

        <li class=" nav-item">
            <a class="nav-link"  *ngIf="!seMuestra" [routerLink]="['/descarga-informacion/', idUser]" routerLinkActive="active">
                <i id="icono" class="material-icons">file_download</i>
                <p style="color:#003F72;">Descargar Información</p>
            </a>
        </li>

        
    </ul>
</div>
