<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <mat-card class="tarjeta">

          <mat-form-field>
            <mat-label>Nombre CV</mat-label>
            <input matInput #filter placeholder="Nombre Cv Personalizado" maxlength="20" [(ngModel)]="nombre_cvNuevo">
          </mat-form-field>

          <br>
          <div class="example-header">
            <b>Buscador:</b>
            <mat-form-field>
              <input matInput #filter (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
              <button mat-icon-button matSuffix aria-label="clear" *ngIf="filter.value"
                (click)="filter.value=''; applyFilter('');">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <mat-card class="tarjeta_filtros">

            Filtrar por Visibilidad: <button class="btnPersonalizado" mat-stroked-button
              [matMenuTriggerFor]="menuPersonalizado">Filtro Bloques </button>
            <mat-menu #menuPersonalizado="matMenu">
              <button mat-menu-item (click)="getConfiguracionesPersonalizadas()">Todo</button>
              <button mat-menu-item (click)="FiltroVisibles()">Visibles</button>
              <button mat-menu-item (click)="FiltroNoVisibles()">No Visibles</button>
            </mat-menu>
          </mat-card>

          <mat-table id="tabla" #table [dataSource]="dataSource">
            <ng-container matColumnDef="visible_cv_bloque">
              <mat-header-cell *matHeaderCellDef>
                <input type="checkbox" [(ngModel)]="parentSelector" [value]="-1" (change)="onChangeBloque($event)">

              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <input type="checkbox" [value]="row.id" [checked]="row.visible_cv_bloque"
                  (change)="onChangeBloque($event)" (click)=valor(row.id)>
              </mat-cell>
            </ng-container>

            <!-- Bloque Column -->
            <ng-container matColumnDef="bloque">
              <mat-header-cell class="tituloTabla" *matHeaderCellDef>
                <h4><b>Bloque</b></h4>
              </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.bloque}} </mat-cell>
            </ng-container>

            <!-- Orden Column -->
            <ng-container matColumnDef="ordenPersonalizable">
              <mat-header-cell class="tituloTabla" *matHeaderCellDef>
                <h4><b>Orden</b></h4>
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <mat-form-field floatLabel="never">
                  <input matInput placeholder="Orden" type="number" min="1" max="9999" pattern="^[0-9]+"
                    [value]="element.ordenPersonalizable" [(ngModel)]="element.ordenPersonalizable">
                </mat-form-field>
              </mat-cell>
            </ng-container>

            <!-- INgresar Column -->
            <ng-container matColumnDef="ingreso">
              <mat-header-cell class="tituloTabla" *matHeaderCellDef>
                <h4><b>Ingresar a Bloque</b></h4>
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <button class="btnIngresoBloque" mat-raised-button color="primary" (click)="nombrecvLocalStorage()"
                  [routerLink]="['/crea-personalizado/', element.bloque, nombre_cv, cvHash]">
                  <i class="material-icons">east</i>
                </button>
              </mat-cell>
            </ng-container>


            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>

          <mat-paginator id="paginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

          <div class="col text-center">
            <button mat-raised-button color="primary" class="botones" [disabled]="!nombre_cv"
              (click)="guardarBloquesAtributos()">Guardar
              <span class="material-icons">
                save
              </span>
            </button>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
