#tabla {
    color: #003F72;
}

#paginator{
    color: #003F72;
    background-color: #AAA4A4;;
}


#btnInformacion{
    background-color: #003F72;
    color: white;
    margin-bottom: 20px;
}

.btnIngresoBloque{
    background-color: #E0DED8;
    color: black;
}

.tarjeta {
    background-color: #E0DED8;
    color: #003F72;
}


.tarjeta_filtros{
    background-color: #003F72;
    color: #cec7b1;
}

.btnPersonalizado{
    background-color: #E0DED8;
    color: black;
    margin-left: 20px;
}

.visible{
    margin-bottom: 8px;
}
#visibilidad{
    float: left;
    margin: auto;
}


.rd-btn{
    color: #003F72;
}

.tituloTabla{
    color: #003F72;
}

.botones{
    margin-top: 20px;
    background-color: #003F72;
}


#alerta{
    background-color: #003F72;
    color: #E0DED8;
}


.blue-snackbar {
    background: #2196F3 !important;
  }