<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12" >
                <div class="col text-center">
                    <button class="botones" id="btnInformacion" mat-button (click)="openDialog()">Información</button>
                </div>

                <mat-card class="tarjeta">
                    <mat-card-header>
                        <h3> <b>Configuración de Bloques Completos</b> </h3>
                    </mat-card-header>
                    <div class="col text-center">
                        <table class="table" id="tabla">
                            <thead>
                                <tr class="d-flex">
                                    <th class="col-4" id="titulo">  <h4><b>Bloque</b></h4>  </th>
                                    <th class="col-3" id="titulo">  <h4> <b>Orden</b> </h4> </th>
                                    <th class="col-3" id="titulo"> <h4> <b>Ingresar a Bloque</b> </h4> </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="d-flex" *ngFor="let bloque of arregloBloques">
                                    <!-- <td>{{configuracion.id}}</td> -->
                                    <td class="col-md-4">{{bloque.nombre}}</td>
                                    <td class="col-md-3">
                                        <mat-form-field>
                                            <input type="number" matInput placeholder="Orden" [value]="bloque.ordenCompleto" [(ngModel)]="bloque.ordenCompleto">
                                        </mat-form-field>
                                    </td>
                                    <td class="col-md-3">
                                        <button class="btnIngresoBloque" mat-raised-button color="primary" [routerLink]="['/bloque-completo/', bloque.nombre]">
                                                <i class="material-icons">east</i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col text-center">
                        <button mat-raised-button color="primary" class="botones" (click)="guardar()">Guardar</button>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>