#cabeceraTarjeta{
    /* background-color: #A71930; */
    /* background-image: url("../../../assets/img/nieve.jpg"); */
    background-color: #f4f4f4;
    margin: 10px;
    margin-top: -20px;
}
.botones {
    margin: 15px;
    background-color: #003F72;
}

.botones_crear{
    margin: 15px;
    background-color: #003F72;
    color: #E0DED8;
}

.logo {
    width: 70%;
    height: 50%;
    display: block;
    margin: auto;
}

.logoPdf{
    width: 57%;
    height: 50%;
    display: block;
    margin: auto;
}

#alerta{
    background-color: #003F72;
    color: #E0DED8;
}

#titulo_tarjeta{
    color:black;
}
