<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header " id="cabeceraTarjeta">
                        <div class="ct-chart">
                            <img class="logoPdf" src="/assets/img/pdf.png" />
                        </div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Generación PDF</h4>
                    </div>
                    <div class="card-footer">

                        <div class="col text-center">

                            <button class="botones_crear" id="btn-documento" mat-stroked-button
                                (click)="generaPdfCompleto()">
                                PDF Completo
                            </button>

                            <button class="botones_crear" id="btn-documento" mat-stroked-button
                                (click)="generaPdfResumido()">
                                PDF Resumido
                            </button>
                        </div>
                    </div>
                    <div *ngIf="valor && tipoDocumento == 'PDF Completo' || valor && tipoDocumento == 'PDF Resumido'">
                        Generando archivo {{tipoDocumento}}
                        <mat-progress-bar mode="query">

                        </mat-progress-bar>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header " id="cabeceraTarjeta">
                        <div class="ct-chart">
                            <img class="logo" src="/assets/img/word.png" />
                        </div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Generación WORD</h4>
                    </div>
                    <div class="card-footer">

                        <div class="col text-center">

                            <button class="botones_crear" id="btn-documento" mat-stroked-button
                                (click)="generaDocCompleto()">
                                WORD Completo
                            </button>
                            <button class="botones_crear" id="btn-documento" mat-stroked-button
                                (click)="generaDocResumido()">
                                WORD Resumido
                            </button>
                        </div>

                    </div>
                    <div *ngIf="valor && tipoDocumento == 'DOCX Completo' || valor && tipoDocumento == 'DOCX Resumido'">
                        Generando archivo {{tipoDocumento}}
                        <mat-progress-bar mode="query">

                        </mat-progress-bar>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header " id="cabeceraTarjeta">
                        <div class="ct-chart">
                            <img class="logo" src="/assets/img/json.png" />
                        </div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Generación JSON</h4>
                    </div>
                    <div class="card-footer">
                        <div class="col text-center">
                            <button class="botones_crear" id="btn-documento" mat-stroked-button
                                (click)="generaJsonCompleto()">
                                JSON Completo
                            </button>
                            <button class="botones_crear" id="btn-documento" mat-stroked-button
                                (click)="generaJsonResumido()">
                                JSON Resumido
                            </button>
                        </div>
                    </div>
                    <div *ngIf="valor && tipoDocumento == 'JSON Completo' || valor && tipoDocumento == 'JSON Resumido'">
                        Generando archivo {{tipoDocumento}}
                        <mat-progress-bar mode="query">

                        </mat-progress-bar>
                    </div>
                </div>
            </div>
        </div>
    </div>