<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">

                <form [formGroup]="form" #categoryForm="ngForm">
                    <mat-form-field class="example-full-width">
                        <mat-label>Nombre CV</mat-label>
                        <input type="text" matInput formControlName="nombrecv">
                    </mat-form-field>
                </form>

                <div class="col-md-6 col-lg-6 col-6" *ngFor="let configuracion of configuracioncvService.configuraciones; let i = index">
                    <input class="form-check-input" type="checkbox" name= "miDataInterior" [(ngModel)]="configuracion.isSelected" (change)="$event.target.checked ? agregar(configuracion.isSelected, configuracion.bloque, configuracion.atributo, configuracion.mapeo) : quitar(configuracion.isSelected)">
                    <label class="form-check-label" for="inlineCheckbox1">{{configuracion.bloque}} | {{configuracion.atributo}}</label>
                    <!-- Quita las plecas para descomentar cuando uses el objeto {name: string}[] -->
                  </div>

                  <button (click)="PostConfiguracionPersonalizada()">Guardar</button>
                <!-- <form [formGroup]="form" #categoryForm="ngForm">
                    <mat-form-field class="example-full-width">
                        <mat-label>Nombre CV</mat-label>
                        <input type="text" matInput formControlName="nombrecv">
                    </mat-form-field>

                    <table>
                        <thead>
                            <th>S.No</th>
                            <th>Visible</th>
                            <th>Bloque</th>
                            <th>Atributo</th>

                        </thead>

                        <tbody>
                            <tr *ngFor="let configuracion of configuracioncvService.configuraciones; let i = index">
                                <td> {{i+1}} </td>
                                <td> <input type="checkbox" [(ngModel)]="configuracion.isSelected"
                                        [ngModelOptions]="{standalone: true}"
                                        (change)="getProduct(configuracion.isSelected, configuracion.bloque, configuracion.atributo, configuracion.mapeo)">
                                </td>
                                <td>
                                    <input class="form-check-input" type="checkbox" name= "miDataInterior" 
                                    (change)="$event.target.checked ? agregar(data) : quitar(data)">
                                </td>
                                <td>{{configuracion.bloque}}</td>
                                <td>{{configuracion.atributo}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <button (click)="guardar()">
                        Guardar
                    </button>
                </form> -->

            </div>


            <!-- <table>
                <thead>
                    <th>S.No</th>
                    <th>Visible</th>
                    <th>Bloque</th>
                    <th>Atributo</th>

                </thead>
                <tbody>
                    <tr *ngFor="let configuracion of configuracioncvService.configuraciones; let i = index">
                        <td> {{i+1}} </td>
                        <td> <input type="checkbox" [(ngModel)]="configuracion.isSelected"
                                (change)="PostConfiguracionPersonalizada(getProduct(configuracion.isSelected, configuracion.bloque, configuracion.atributo, configuracion.mapeo))">
                        </td>
                        <td>{{configuracion.bloque}}</td>
                        <td>{{configuracion.atributo}}</td>
                    </tr>
                </tbody>
                <button (click)="PostConfiguracionPersonalizada()">
                    Guardar
                </button>

            </table> -->
        </div>
    </div>
</div>