<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <form [formGroup]="form" #categoryForm="ngForm">
                    <mat-form-field class="example-full-width">
                        <mat-label>Nombre CV</mat-label>
                        <input type="text" matInput formControlName="nombrecv">
                    </mat-form-field>
                    <mat-accordion>
                        <mat-expansion-panel hideToggle *ngFor="let bloque of arregloBloques | keyvalue">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Bloque: {{bloque.key}}
                                </mat-panel-title>
                                <mat-panel-description>
                                    Despliegue para obtener mayor información
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div *ngFor="let propiedad of arregloBloques[bloque.key] ">
                                <input class="form-check-input" type="checkbox" name="miDataInterior"
                                    [(ngModel)]="propiedad.isSelected" [ngModelOptions]="{standalone: true}"
                                    (change)="$event.target.checked ? agregar(propiedad.isSelected, propiedad.bloque, propiedad.atributo, propiedad.mapeo) : quitar(propiedad.isSelected)">
                                <label class="form-check-label" for="inlineCheckbox1">
                                    <b>Bloque:</b>
                                    {{propiedad.bloque}}
                                    <b>Atributo:</b>
                                    {{propiedad.atributo}}</label>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                    <div class="col text-center">
                        <button mat-raised-button class="botones" color="primary" [disabled]='!form.valid'
                            (click)="PostConfiguracionPersonalizada()">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>