.tarjeta-cv {
    margin: 25px;
}

#informacion {
    margin: 5px;
    padding: 5px;
    /* border: 2px solid #ccc; */
    /* IMPORTANTE */
    text-align: center;
}

#iconoPersonalizado{
    color: #003F72;
}

.tituloPersonalizado{
    color: #003F72;
}

#iconoPersonalizadoPdf{
    color: black;
}


.btnPersonalizado{
    margin: 15px;
    background-color: #003F72;
    color: white;
}

.btnEditar{
    background-color: #E0DED8;
    color: #003F72;
}

.botones {
    margin: 15px;
}

#btn-documento{
    background-color: white;
}

#btn-txt{
    color: #9AA097;
}

#btn-csv{
    color: #66AB46;
}

#tarjeta_cv {
    background-color: #EAAB00;
}