<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">

                <!-- <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">CVs Guardados</h4>
                        <p class="card-category">Complete your profile</p>
                    </div>

                    <table class="table table-striped" id="tabla">
                        <thead>
                            <tr>
                                <th>Visualizacion</th>
                                <th>Bloque</th>
                                <th>Atributo</th>
                                <th>Nombre</th>
                                <th>Editar</th>
                            </tr>
                        </thead>


                        <tbody>
                            <tr
                                *ngFor="let configuracionPersonalizada of configuracioncvService.configuracionesPersonalizadas">
                                <td>
                                    <mat-checkbox [disabled]="true"
                                        [checked]="configuracionPersonalizada.visible_cv_personalizado"></mat-checkbox>
                                </td>
                                <td>{{configuracionPersonalizada.bloque}}</td>
                                <td>{{configuracionPersonalizada.atributo}}</td>
                                <td>{{configuracionPersonalizada.nombre_cv}}</td>
                                <td>
                                    <button class="btn btn-secundary"
                                        (click)="ModalEditPersonalizacion(configuracionPersonalizada.id, configuracionPersonalizada.bloque, configuracionPersonalizada.atributo, configuracionPersonalizada.orden)">
                                        <i class="material-icons">edit</i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div> -->

                <!-- <span *ngFor="let item of data | keyvalue">
                    NomreCV: {{item.key}}<br>
                    
                    <b>Propiedades</b>
                    <span *ngFor="let propiedad of data[item.key] ">
                        - {{propiedad.atributo}}
                    </span>
                </span> -->

                <div class="container" id="formulario">
                    <div class="col text-center">
                        <button mat-raised-button class="botones" color="primary" routerLink="/cv-personalizado" routerLinkActive="active">Crear CV</button>
                    </div>
                </div>

                <mat-card *ngFor="let item of arreglo | keyvalue" class="tarjeta-cv">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image">
                            <span class="material-icons">
                                description
                            </span>
                        </div>
                        <mat-card-title> NombreCV: {{item.key}}</mat-card-title>
                        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                        <div class="col text-center">
                            <button mat-raised-button class="botones" color="primary" routerLink="/cv-personalizado" routerLinkActive="active">Crear PDF</button>
                            <button mat-raised-button class="botones" color="accent" [routerLink]="['/edita-personalizado/', item.key]" routerLinkActive="active">
                                <i class=" material-icons ">edit</i>
                            </button>
                            <button mat-raised-button class="botones" color="warn" routerLink="/cv-personalizado" routerLinkActive="active">
                                <i class=" material-icons ">delete</i>
                            </button>
                        </div>
                    </mat-card-header>

                    <!-- <table>
                        <th>
    
                        </th>
                    </table> -->

                    <!-- <div *ngFor="let propiedad of arreglo[item.key] ">
                        <div class="row" id="informacion">
                            <div class="col-md-4">
                                {{propiedad.bloque}}
                            </div>
                            <div class="col-md-4">
                                {{propiedad.atributo}}
                            </div>
                            <div class="col-md-4">
                                {{propiedad.visible_cv_personalizado}}
                            </div>
                        </div>
                    </div> -->
                </mat-card>
            </div>
        </div>
        <!-- <div class="col-md-4 text-right">
            <button class="btn btn-success btn-block" (click)="getPDF()">Download PDF</button>
        </div> -->
    </div>
</div>