<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="container" id="formulario">
                    <div class="col text-center">
                        <button mat-raised-button class="btnCreaPersonalizado" color="primary" routerLink="/cv-personalizado" routerLinkActive="active">Crear CV Personalizado</button>
                    </div>

                    <!-- <button (click)="showSpinner(3000)">Show spinner for 5 seconds</button>

                    <ng4-loading-spinner [timeout]="3600000" [loadingText]=" loadingText || 'Please wait...'"></ng4-loading-spinner> -->
                    <!-- <button (click)="showSpinner()">Show spinner for unlimited time</button>
<button (click)="showSpinner(3000)">Show spinner for 5 seconds</button>

<ng4-loading-spinner [timeout]="3600000" [loadingText]=" loadingText || 'Please wait...'"></ng4-loading-spinner> -->

                    <div class="col text-center">
                        <button class="botones" id="btn-csv" mat-raised-button (click)="generaBibtex()">BIBTEX CSV</button>
                        <button class="botones" id="btn-csv" mat-raised-button [matMenuTriggerFor]="menuexportacion">Exportación CSV</button>
                        <mat-menu #menuexportacion="matMenu">
                            <button mat-menu-item color="primary" (click)="generaCvInformacion()">CSV</button>
                        </mat-menu>

                    <button class="botones" id="btn-txt" mat-raised-button [matMenuTriggerFor]="menuexportacionTXT">Exportación TXT</button>
                        <mat-menu #menuexportacionTXT="matMenu">
                            <button mat-menu-item color="primary" (click)="generaTxtArticulos()">Articulos TXT </button> 
                            <button mat-menu-item color="primary" (click)="generaTxtLibros()">Libros TXT </button>
                            <button mat-menu-item color="primary" (click)="generaTxtProyectos()">Proyectos TXT </button> 
                            <button mat-menu-item color="primary" (click)="generaTxtCapacitacion()">Proyectos TXT </button> 
                            <button mat-menu-item color="primary" (click)="generaTxtGradoAcademico()">Proyectos TXT </button> 

                            
                        </mat-menu>
                        <div *ngIf="valorDocumento">
                            Generando documento
                            <mat-progress-bar mode="query">
    
                            </mat-progress-bar>
                            <!-- <mat-progress-bar
                                class="example-margin"
                                [color]="color"
                                [mode]="mode"
                                > Generando
                            </mat-progress-bar> -->
                        </div>
                    </div>
                </div>
               
                
                <!-- <mat-card *ngFor="let item of confPersoDocenteClas | keyvalue" class="tarjeta-cv" id="tarjeta_cv">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image">
                            <span class="material-icons" id="iconoPersonalizado"> 
                                description
                            </span>
                        </div>
                        <mat-card-title class="tituloPersonalizado"> NombreCV: {{item.key}}</mat-card-title>
                        <div class="col text-center">
                            <button class="btnPersonalizado" color="primary" mat-raised-button (click)="generaPdfPersonalizado()">Personalizado</button>
                
                            <button mat-raised-button class="btnEditar" color="accent" [routerLink]="['/edita-personalizado/', item.key]" routerLinkActive="active">
                                <i class=" material-icons ">edit</i>
                            </button>
                            <button mat-raised-button class="botones" (click)="deleteConfiguracionPersonalizada(item.key)" color="warn">
                                <i class=" material-icons ">delete</i>
                            </button>
                        </div>
                    </mat-card-header>
                </mat-card> -->
            </div>

            
            <!-- <div *ngFor="let item of confPersoDocenteClas | keyvalue">
                <h5 class="card-title">Índice: {{item.key}}</h5> {{item.value.fecha_registro}}
                <div *ngFor="let contenido of item.value">
                  <h5 class="card-title"> {{contenido.fecha_registro}} </h5>
                </div>
              </div> -->
            
            <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let item of confPersoDocenteClas | keyvalue">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">content_copy</i>
                        </div>
                        <h5 class="card-title">{{item.key.split(',')[0]}}</h5>
                        <p class="card-category">
                            <button class="btnPersonalizado" mat-stroked-button  [matMenuTriggerFor]="menuPersonalizado">Personalizado</button>
                        </p>
                        <!-- <button class="btnPersonalizado" mat-stroked-button  [matMenuTriggerFor]="menuPersonalizado">Personalizado</button> -->
                        <mat-menu #menuPersonalizado="matMenu">
                            <!-- <progress-bar-button [options]="barButtonOptions" (click)="someFunc2()"></progress-bar-button> -->
                            <button mat-menu-item (click)="generaPdfPersonalizado(item.key.split(',')[0], item.key.split(',')[1])">PDF</button>
                            <button mat-menu-item (click)="generaDocPersonalizado(item.key.split(',')[0], item.key.split(',')[1])">WORD</button>      
                            <button mat-menu-item (click)="generaJsonPersonalizado(item.key.split(',')[0], item.key.split(',')[1])">JSON</button>                                                  
                        </mat-menu>
                    </div>
                    <div class="card-footer">
                        <h6>{{item.key.split(',')[2]}}</h6>
                        <!-- <button class="btnPersonalizado" mat-stroked-button  [matMenuTriggerFor]="menuPersonalizado">Personalizado</button>
                        <mat-menu #menuPersonalizado="matMenu">
                            <button mat-menu-item (click)="generaPdfPersonalizado(item.key)">PDF</button>
                            <button mat-menu-item (click)="generaDocPersonalizado(item.key)">WORD</button>      
                            <button mat-menu-item (click)="generaJsonPersonalizado(item.key)">JSON</button>                                                  
                        </mat-menu> -->
                      
                        <button mat-raised-button class="btnEditar" color="accent" [routerLink]="['/edita-personalizado/', item.key.split(',')[0], item.key.split(',')[1]]" routerLinkActive="active">
                            <i class=" material-icons ">edit</i>
                        </button>
                        <button mat-raised-button class="botones" (click)="deleteConfiguracionPersonalizada( item.key.split(',')[0], item.key.split(',')[1])" color="warn">
                            <i class=" material-icons ">delete</i>
                        </button>
                    </div> 
                    
                    
                    
                    <div *ngIf="valor">
                        Generando documento
                        <mat-progress-bar mode="query">

                        </mat-progress-bar>
                        <!-- <mat-progress-bar
                            class="example-margin"
                            [color]="color"
                            [mode]="mode"
                            > Generando
                        </mat-progress-bar> -->
                    </div>

                  
                   
                </div>

                


            </div>
        </div>
    </div>
</div>

<!-- <div *ngFor="let item of confPersoDocenteClas | keyvalue">  
    <div>
          <h5 class="card-title">{{item.key}}</h5>
    </div>
 </div> -->