.card-text {
    text-align: justify;
    margin: 35px;
}

.logo {
    width: 210px;
    height: 225px;
    display: block;
    margin: auto;
}

.logoUtpl{
    width: 170px;
    height: 225px;
    display: block;
    margin: auto;
}

#tarjeta_informacion {
    background-color: #E0DED8;
}


#tarjeta {
    background-color: #AAA4A4;
}


#texto_cv {
    color: #003F72;
}


#botones {
    background-color:#E0DED8;
    color: #003F72;
}