<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">content_copy</i>
                        </div>
                        <p class="card-category">INFORMACIÓN GENERAL</p>
                        <h3 class="card-title">Generador
                            <small>CV</small>
                        </h3>
                    </div>
                    <div class="card-body">

                        <p class="card-text">With supporting text below as a natural lead-in to additional content. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut sint id ex at nulla rerum! Quia, illo, cum architecto, sit laudantium quaerat repudiandae velit
                            nulla voluptates explicabo saepe fugiat veniam. Dignissimos, eaque amet. Nobis quaerat consequuntur odit doloremque quis dolorem sequi, tenetur quo, impedit ut dolores, natus cum magni architecto modi autem? Nesciunt quia ut
                            doloremque ullam aspernatur reiciendis laudantium. Eligendi eius, incidunt voluptates dicta ex quis rem reprehenderit, facilis aliquid distinctio quaerat consectetur iusto. Commodi ab ad autem quas reprehenderit, officiis ducimus,
                            enim nobis porro quia illo nisi molestias! Aliquid ipsa praesentium fugiat dolorem dignissimos voluptatem perferendis, laboriosam consequuntur veritatis nisi soluta consectetur aperiam aspernatur inventore distinctio animi
                            sunt porro laudantium repellat ipsum. Architecto odit deleniti distinctio eveniet sapiente.</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <img class="logo" src="/assets/img/cv.png" />
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">CV COMPLETO</h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-light btn-block" routerLink="/cv-completo/">
                            Ingresar
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <img class="logo" src="/assets/img/cv.png" />
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">CV RESUMIDO</h4>
                        <p class="card-category">Last Campaign Performance</p>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-light btn-block" routerLink="/cv-completo/">
                            Ingresar
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-danger">
                        <img class="logo" src="/assets/img/cv.png" />
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">CV PERSONALIZADO</h4>
                        <p class="card-category">Last Campaign Performance</p>
                    </div>
                    <!-- <div class="card-footer"> -->

                    <div class="card-footer">
                        <button type="button" class="btn btn-light btn-block" routerLink="/cv-completo/">
                                Ingresar
                        </button>
                    </div>


                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
</div>