<div class="contenedor">
  <!-- <div class="container"> -->
  <mat-dialog-content id="htmlData" #htmlData>
    <mat-card class="example-card">
      <h6 class="titulo">
        <strong> UNIVERSIDAD TECNICA PARTICULAR DE LOJA </strong>
      </h6>

      <!-- <div *ngFor ="let infoDocente of docente">
            {{infoDocente.primer_nombre}}
        </div> -->

      <div *ngFor="let infoDocente of docente | keyvalue" class="docente">
        <h6>
          <b>{{ infoDocente.key }}: </b> {{ infoDocente.value }}
        </h6>

        <!-- <div  *ngFor="let propiedad of docente[infoDocente.key]">
                {{propiedad.canton}}
            </div> -->
      </div>
    </mat-card>
  </mat-dialog-content>
  <div class="col-md-4 text-right">
    <button class="btn btn-success btn-block" (click)="downloadAsPDF()">
      Download PDF
    </button>
  </div>
  <div class="col-md-4 text-right">
    <button class="btn btn-success btn-block" (click)="goToUrl()">
      HTML2PDF
    </button>
  </div>
</div>
