<div class="login-container">
    <div class="login-content">
        <mat-card>
            <form [formGroup]="loginForm" novalidate (ngSubmit)="signIn()">

                <mat-form-field appearance="outline">
                    <mat-label>Usuario</mat-label>
                    <input matInput placeholder="usuario@utpl.edu.ec" formControlName="username">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" [type]="hide ? 'password' : 'text'"
                        formControlName="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>

                </mat-form-field>
                
                <button type="submit" mat-raised-button color="primary">
                    Iniciar Sesión
                </button>
              
            </form>
            <div class="col text-center">
                <p>
                    <a href="">¿Olvidaste tu contraseña?</a>
                </p>
            </div>
        </mat-card>
    </div>
</div>
