<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://sica.utpl.edu.ec/">
                        SIAC UTPL
                    </a>
                </li>
                <li>
                    <a href="https://www.utpl.edu.ec/">
                        UTPL
                    </a>
                </li>
                <li>
                    <a href="https://www.utpl.edu.ec/es/investigacion">
                        Investigación UTPL
                    </a>
                </li>
                <li>
                    <a href="https://sica.utpl.edu.ec/register">
                        Registrate en SIAC
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}}, Universidad Tecnica Particular de Loja
            <a href="https://utpl.edu.ec/" target="_blank">UTPL</a>.
        </div>
    </div>
</footer>