
#tabla {
    /* margin-top: 20px; */
    /* margin-left: 20px;
    margin-right: 20px; */
    color: #003F72;
    background-color: #EAAB00;
}

#paginator{
    /* margin: 20px; */
    /* margin-left: 20px;
    margin-right: 20px; */
    color: #E0DED8;
    background-color: #A71930;
}

.tarjeta {
    background-color: #E0DED8;
    color: #003F72;
}

.tarjeta_filtros{
    background-color: #003F72;
    color: #cec7b1;
    /* margin-left: 20px;
    margin-right: 20px; */
}

.btnPersonalizado{
    background-color: #E0DED8;
    color: black;
    margin-left: 20px;
}

.botones{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #003F72;
    color: white;
}


/* .filtro {
 max-width: 90%;
} */